body{
  background-color:#F5FFFA;
}

.App-link {
  color: #61dafb;
}
/* .header-pic{
  height:70vmin;
  border-radius: 8px;
  border: 1px solid #ddd;
  position: absolute;
  top: 20%;
  right:40px;
} */
.header-pic {
  height: 70vmin;
  border-radius: 8px;
  left:20%;

}
.description{
  right:10%;
  position:absolute;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
}

/* .nav-pic{
   height:60vmin;
  padding: 14px 16px;
  position:absolute;
 
} */

.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color:  #87CEFA;
  
}

li {
  float: left;
}

li {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.header-text{
  font-size: 42px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  position:absolute;
  top:20%;
  left: 15%;
}

.description{
  background-color: white;
  position:absolute;
  top:20%;
  width:50%;
  height:50%;
}

.button{
    width: 270px;
    height: 56px;
    background-color: #F5FFFA;
    border: none;
    /* border-radius: 6px; */
    margin-top: 4%;
    margin-left: 40%;
    color: black;
    font-size: 24px;
    cursor: pointer;
}
